<link rel="stylesheet" href="styles/index.css">
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Pacifico&family=Rock+Salt&display=swap"
    rel="stylesheet" />
<link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Stick&display=swap"
    rel="stylesheet">
<link
    href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merienda:wght@300..900&family=Stick&display=swap"
    rel="stylesheet"> <title>Blog-Website</title>
<nav>
    <label class="logo rock-salt-regular"><img class="blog-icon"
            src="img/blog-icon.png" alt="icon">Blog-Vox</label>
    <ul>
        <li><a href="/" class="active stick-regular">Home</a></li>
        <li><a href="/" class="stick-regular">Explore</a></li>
        <li><a href="/" class="stick-regular">About</a></li>
        <li><a href="#footer" class="stick-regular">Contact</a></li>
        <li><a href="/blog" class="stick-regular">Write Here</a></li>
    </ul>
</nav>
