<div class="social-touch"><h2 class="social-tag"> Let's Get In Touch at My Social</h2>
    <div class="social-box">
        <a href="https://www.linkedin.com/in/tanmay-sawankar-57a945223/" target="_blank"><img class="social-icon" src="img/linkedin.png" alt="LinkedIn" ></a>
        <a href="https://github.com/TanmaySawankar390" target="_blank"><img class="social-icon" src="img/github.png" alt="Github"></a>
        <a href="https://www.instagram.com/tanmy_swk/" target="_blank"><img class="social-icon" src="img/instagram.png" alt="Instagram"></a>
        <a href="mailto:tanmaysawankar4441@gmail.com" target="_blank"><img class="social-icon" src="img/gmail.png" alt="Email"></a>
</div>
</div>