body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {    
    margin: 0px 100px;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

header {
    padding:100px 0px 0px 0px;
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
    color: #4CAF50;
}

header .author {
    font-size: 1em;
    color: #777;
}

article h2 {
    font-size: 2em;
    margin-top: 30px;
    color: #4CAF50;
}

article h3 {
    font-size: 1.5em;
    margin-top: 20px;
    color: #333;
}

article p, article li {
    margin: 10px 0;
    font-size: 1.1em;
    text-align: justify;
}

article pre {
    background: #f4f4f4;
    border-left: 4px solid #4CAF50;
    padding: 10px;
    overflow-x: auto;
}

article code {
    font-family: 'Courier New', Courier, monospace;
}

article a {
    color: #4CAF50;
    text-decoration: none;
}

article a:hover {
    text-decoration: underline;
}

article ol, article ul {
    padding-left: 20px;
}
.blog-flex img {
    float:right;
    width: 30%;
    height:40vh;
    padding:30px;
}
